@using System.Security.Principal

@inherits LayoutComponentBase

<BlazorBootstrapLayout StickyHeader="true" style="background-color:.bg-info;">
    <HeaderSection>
        @if (UserName != null)
        {
                <div class="bb-top-row px-4 d-flex justify-content-begin">@UserName</div>
            }        
            <ThemeSwitcher Class="ps-3 ps-lg-2" Position="DropdownMenuPosition.End" />
    </HeaderSection>

    <SidebarSection>
        <Sidebar2 Href="/"
                  
                  ImageSrc="favicon.png"
                  Title="OWL VMS"
                  BadgeText="0.0.1"
                  DataProvider="Sidebar2DataProvider"
                  WidthUnit="Unit.Px" />
    </SidebarSection>

    <ContentSection>
        @Body
    </ContentSection>

    <FooterSection>

    </FooterSection>
</BlazorBootstrapLayout>

@code {
    private IEnumerable<NavItem> navItems = default!;

    string UserName = WindowsIdentity.GetCurrent().Name;    

    private async Task<Sidebar2DataProviderResult> Sidebar2DataProvider(Sidebar2DataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
                   {
                       new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Домашняя", Match=NavLinkMatch.All},
                       new NavItem { Id = "2", Href = "/auth", IconName = IconName.PlusSquareFill, Text = "Авторизация"},
                       new NavItem { Id = "2", Href = "/list", IconName = IconName.PlusSquareFill, Text = "Простой список"},
                       new NavItem { Id = "3", Href = "/counter", IconName = IconName.PlusSquareFill, Text = "Счетчик"},
                       new NavItem { Id = "4", Href = "/weather", IconName = IconName.Table, Text = "Погода"},
                   };

        return navItems;
    }
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
